<header class="navbar navbar-transparent">
  <nav class="l-nav-container">
    <div class="nav-logo">
      <a class="logo" href='/'></a>
    </div>
    <ul class="nav nav-right">
      <li><%= link_to "Menu", menu_path, class: 'nav-link' %></li>
      <li><%= link_to "Hours", hours_path, class: 'nav-link' %></li>
      <li><%= link_to "About", about_path, class: 'nav-link' %></li>
      <li><%= link_to "Contact", contact_path, class: 'nav-link' %></li>
    </ul>
  </nav>
</header>
