<section class="hero hero-about"></section>
<div class="container">
  <section class="main">
    <article class="bio">
      <img class="photo" src="#" alt="Person1">
      <div class="bio-article">
        <h3>Person 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend libero odio, commodo vestibulum neque bibendum non. Nam rutrum luctus orci, nec suscipit tortor bibendum sit amet. Phasellus sed viverra sem, vel sollicitudin nisi. In posuere volutpat justo id consequat. Vestibulum ultricies orci at suscipit luctus. Suspendisse hendrerit leo non tortor bibendum, ac tempus sapien tristique. Donec luctus vulputate velit sit amet euismod. Nulla elit massa, pharetra et ipsum vestibulum, fringilla finibus sapien. Mauris vestibulum ac erat a tempor. In sed venenatis leo. Pellentesque eu eros hendrerit, scelerisque arcu eu, euismod nisi.</p>
      </div>  
    </article>
    <article class="bio">
      <img class="photo" src="#" alt="Person1">
      <div class="bio-article">
        <h3>Person 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend libero odio, commodo vestibulum neque bibendum non. Nam rutrum luctus orci, nec suscipit tortor bibendum sit amet. Phasellus sed viverra sem, vel sollicitudin nisi. In posuere volutpat justo id consequat. Vestibulum ultricies orci at suscipit luctus. Suspendisse hendrerit leo non tortor bibendum, ac tempus sapien tristique. Donec luctus vulputate velit sit amet euismod. Nulla elit massa, pharetra et ipsum vestibulum, fringilla finibus sapien. Mauris vestibulum ac erat a tempor. In sed venenatis leo. Pellentesque eu eros hendrerit, scelerisque arcu eu, euismod nisi.</p>
      </div>  
    </article>
    <article class="bio">
      <img class="photo" src="#" alt="Person1">
      <div class="bio-article">
        <h3>Person 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend libero odio, commodo vestibulum neque bibendum non. Nam rutrum luctus orci, nec suscipit tortor bibendum sit amet. Phasellus sed viverra sem, vel sollicitudin nisi. In posuere volutpat justo id consequat. Vestibulum ultricies orci at suscipit luctus. Suspendisse hendrerit leo non tortor bibendum, ac tempus sapien tristique. Donec luctus vulputate velit sit amet euismod. Nulla elit massa, pharetra et ipsum vestibulum, fringilla finibus sapien. Mauris vestibulum ac erat a tempor. In sed venenatis leo. Pellentesque eu eros hendrerit, scelerisque arcu eu, euismod nisi.</p>
      </div>  
    </article>
  </section>
</div>
