<section class="hero hero-hours"></section>
<div class="container">
  <section class="main">
    <div class="l-hours-container">
      <section class="hours">
        <table class="hours-table">
          <caption>Hours of Operation</caption>
          <thead>
            <th>Days</th>
            <th>Hours</th>
          </thead>
          <tbody>
            <tr>
              <td>Monday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>10:00AM - 8PM</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>10:00AM - 8PM</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="map">
        <iframe class="map-google" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD4xrlcA3HUPAGm6OvDufDg369_M7hXaN8&q=Binghamton+University" frameborder="0">
        </iframe>
      </section>
    </div>
  </section>
</div>
