/* Variables */
$font-stack: Gothic, sans-serif;
$grid-gutter-width: 2em;
$small-breakpoint: 60em;
$medium-breakpoint: 75em;
$large-breakpoint: 90em;

/* Mixins */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  & {
    *zoom: 1;
  }
}

@mixin make-row($width: 0){
  @include clearfix;
  position: relative;
  @if $width != 0 {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin make-column($part, $whole, $gutter-width: $grid-gutter-width) {
  width: percentage($part/$whole);
  float: left;
  padding-right: $gutter-width;
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
