.main-footer {
  background: lighten(black, 20%);
  letter-spacing: 2px;
  
  .wrapper {
    @include make-row(75em);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
}

.footer-nav {
  @include clearfix;
  list-style: none;
  display: block;
  margin-bottom: 2em;

  & > li {
    float: left;
    width: 25%;
  }

  .nav-link {
    color: darken(white, 10%);
    transition: color 0.35s ease-in-out;

    &:hover {
      color: darken(white, 40%);
    }
  }

  @media screen and (min-width: 60em) {
    float: left;

    & > li {
      display: block;
      margin: 1em 0;
      float: none;

      &:first-child {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

.contact {
  color: darken(white, 10%);

  .address {
    color: darken(white, 35%);
    text-transform: uppercase;
  }

  @media screen and (min-width: 60em) {
    float: left;
    margin-left: 25%;
  }
}

.social {

  a {
    color: white;
  }

  & > li {
    width: 33%;
  }

  @media screen and (min-width: 60em) {
    float: right;
  }
}
