//Primary navigation bar on top of page
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em 1.5em; 
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

//Appears on landing page
.navbar-transparent {
  background: rgba(255, 255, 255, 0.25);
}

//Appears once user scrolls down.
.navbar-is-fixed {
  position: fixed;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 1px 2px -1px gray;
  background: white;
}

.nav-logo {
  float: left;
  height: 3em;
  width: 20em;

  .logo {
    display: block;
    height: 100%;
    max-width: 100%;
  }
}

.l-nav-container {
  @include clearfix;
  position: relative;
}

.nav {
  @include center-vertical;
  display: block;
  list-style: none;
  margin: 0;
  right: 0;

  & > li {
    display: block;
    float: left;
    padding: 0.25em 0.5em;
    margin: 0 1.25em;
    letter-spacing: 1px;

    &:hover .nav-link:after{
      transform: scaleX(1);
    }
  }
}

.nav-right {
  float: right;
  margin-right: 4em;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: lighten(black, 10%);

  &:after {
    content: "";
    display: block;
    width: 99%;
    height: 2px;
    margin-top: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.35s ease-in-out;
  }
}
