//Primary navigation bar on top of page
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em 1.5em; 
  background: white;
  z-index: 1000
}

//Appears once user scrolls down.
.navbar-is-fixed {
  position: fixed;
  padding-top: 0;
  border-bottom: 1px solid gray;
}

//Appears on landing page
.navbar-transparent {
  background: rgba(255, 255, 255, 0.25);
}

.nav-logo {
  float: left;
  height: 3em;
  width: 20em;

  .logo {
    display: block;
    height: 100%;
    max-width: 100%;
    background: url(<%= image_path 'newlogo.jpg' %>);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.l-nav-container {
  @include clearfix;
}

.nav {
  display: block;
  list-style: none;

  & > li {
    display: block;
    float: left;
    padding: 0.25em 0.5em;
    margin: 0 1.25em;
    letter-spacing: 1px;

    .nav-link:after {
      content: "";
      display: block;
      width: 99%;
      height: 2px;
      margin-top: 2px;
      background: black;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 0.35s ease-in-out;
    }

    &:hover .nav-link:after{
      transform: scaleX(1);
    }
  }

  .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: lighten(black, 10%);
  }
}

.nav-right {
  float: right;
  margin-right: 4em;
}
