body {
  font-family: $font-stack;
  font-size: 16px;
}

.article {
  h2 {
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-size: 1em;
    letter-spacing: -1px;
    line-height: 1.5;
    text-indent: 1em;
  }
}

.contact {
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 1.5;
}

.social {
  text-align: right;
}

.footer-nav {
  text-align: center;

  .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }

  @media screen and (min-width: 60em) {
    text-align: left;
  }
}

h3, p {
  line-height: 1.5;
}
